/*--- COMMON STYLES ---*/

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');
*{ margin: 0; padding: 0; font-family: 'Lato', sans-serif; }
ul{list-style: none;}
a{text-decoration: none;}
.centrado{ margin: 0 auto; }
body{ background-color: #000; }
/* CSS properties */
#c_contenido {
  margin-left: auto;
  margin-right: auto;
  background-color: #f9f9f9;
}

#contenido {
  text-align: center;
}

#cabecera {
  overflow: hidden;
  text-align: center;
}

#cabecera > a {
  background: transparent url() no-repeat 0px 0px;
  background-size: 100%;
  display: inline-block;
}

#cabecera ul {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #000;
  text-align: center;
  margin-top: 15px;
}

#cabecera ul:hover {
  border-bottom: 1px solid red;
}

#cabecera ul li {
  display: inline-block;
  height: 5px;
  line-height: 0px;

}
/*--- HOVERS ---*/


#cabecera ul li a {
    display: inline-block;
    text-align: center;
    font-size: 14px;
    padding: 12px 5px 20px;
    border-radius: 5px;
    position: relative;

    color: #000;
}
#cabecera ul li a:hover {
    border-bottom: red;
    border-color: red;
    color: red;
}
/*--- DROPDOWN ---*/
.menudrop {
       width: 100%;
  background-color: white;
display: block;
  margin-left: auto;
  margin-right: auto;
    padding: 5px;
  color: red;
  font-size: 16px;
  border-radius: 1px 1px 1px 1px;
  cursor: pointer;
}
.boton {
    margin-top: 0%;
}
.boton-content {
    width: 100%;
display: none;
position: absolute;
  background-color: #f9f9f9;
  min-width: 10px;
}
.boton-content a {
    display: block;
    text-align: center;
  color: black;
  padding: 15px 15px;
  text-decoration: none;
}
.boton-content a:hover {
    background-color: black;
    transition: background-color .5s;
    color: red;
}
.boton:hover .boton-content {
 display: block;
  margin-left: auto;
  margin-right: auto;
}
.boton:hover .menudrop {
    background-color:     black;
    transition: background-color .5s;
    color: red;
}
/*--- FOOTER ---*/
#c_pie {
  background-image: url(../img/general/stripeRoundLeft.gif), url(../img/index/stripeRoundRight.gif);
  background-repeat: no-repeat;
  background-color: black;
    background-position: left top, right top;
  padding-bottom: 10px;
}

#pie {
  overflow: hidden;
  padding: 30px 0 0 0;
  text-align: center;
}

#pie ul li a:hover {
  color: red;
}

#pie p a:hover {
  color: red;
}

/* BOOKMARK */
#book.bookmark p a {
  margin-top: 100%;
  font-size: 20px;
  color: #ccc;
}

#book.bookmark p a:hover {
  color: red;
}

#book.bookmark {
  margin-top: 5%;
}

/* COL */
.col {
  float: left;
  width: 25%;
}

.col:first-child {
  margin-left: 20%;
  width: 27%;
}

.col h4 {
  font-size: 12px;
  font-weight: 300;
  color: #ccc;
}

.col img {
  width: 55%;
}

.col:nth-child(2),
.col:nth-child(3) {
  width: 10%;
}

.col:nth-child(2) ul li a,
.col:nth-child(3) ul li a {
  color: #ccc;
  font-size: 12px;
  font-weight: 300;
}

.col:last-child {
  width: 33%;
}

.col:last-child p {
  text-align: right;
  color: #ccc;
  font-size: 12px;
  font-weight: 300;
  line-height: 18px;
}

.col:last-child p a {
  text-align: right;
  color: #ccc;
  font-size: 12px;
  font-weight: 300;
}

/* RESPONSIVE MOBILE */
@media only screen and (min-width: 0px) {
  /* CABECERA */
  #cabecera img {
    padding: 0px;
    width: 0%;
  }

  #cabecera > a {
    background-size: 0%;
    display: inline-block;
    width: 10%;
    height: 1px;
    float: left;
  }

  #cabecera ul {
    width: 100%;
  }

  /* PIE RESPONSIVE */
  .col {
    width: 30%;
  }

  .col:first-child {
    margin-left: 10%;
    width: 30%;
  }

  .col h4 {
    font-weight: bold;
    font-size: 14px;
    font-weight: 300;
    color: #ccc;
  }

  .col img {
    width: 50%;
  }

  .col:nth-child(2),
  .col:nth-child(3) {
    width: 30%;
  }

  .col:nth-child(2) ul li a,
  .col:nth-child(3) ul li a {
    color: #ccc;
    font-size: 13px;
    font-weight: 200;
  }

  .col:last-child {
    width: 100%;
    margin-top: 15px;
  }

  .col:last-child p {
    text-align: center;
    color: #ccc;
    font-size: 13px;
    font-weight: 300;
    line-height: 18px;
  }

  .col:last-child p a {
    color: #ccc;
    font-size: 13px;
    font-weight: 300;
  }
}


/*---SIDEBAR---*
/* The sidebar menu */
.sidebar {
  height: 100%; 
  width: 0; 
  position: fixed; 
  z-index: 1; 
  top: 0;
  left: 0;
  background-color: #111; 
  overflow-x: hidden; 
  padding-top: 60px;
  transition: 0.5s; 
}

.sidebar a {
  padding: 5px 6px 5px 30px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #444;
}
#main {
  transition: margin-left .5s; /* If you want a transition effect */

}
@media only screen and (min-width: 0px) {
    #cabecera {
        border-bottom: 1px solid #000;
    }
    #cabecera > a {
        background: transparent url() no-repeat;
        background-size: 50%; 

        }
    #cabecera ul {
        display: none;
    }

    #cabecera button.openbtn {
        display: block;
        margin: auto;
    }
}
    /*--- RESPONSIVE TABLET ---*/
@media only screen and (min-width: 400px) {
    #cabecera {
        border-bottom: 1px solid #000;

    }
    #cabecera > a {
        background: transparent url() no-repeat;
        background-size: 50%;
        }
    #cabecera ul {
        display: none;
    }
    #cabecera button.openbtn {
        display: block;
        margin: auto;
    }
}
/*--- RESPONSIVE PC ---*/
@media only screen and (min-width: 600px) {
         #cabecera {
             border-bottom: 0px solid #000; }
    #cabecera a {
        background-size: 0%;
        width: 0%;    }  
    
    #cabecera img {
        overflow: clip;
        align-content: center;
        width: 25%;      
}
        #cabecera ul {
        display: block;
    }
    #cabecera button.openbtn {
        display: none;
        margin: auto;
    }
}  
@media only screen and (min-width: 600px) {
/* For tablets: */
.col-s-1 {width: 8.33%;}
.col-s-2 {width: 16.66%;}
.col-s-3 {width: 25%;}
.col-s-4 {width: 33.33%;}
.col-s-5 {width: 41.66%;}
.col-s-6 {width: 50%;}
.col-s-7 {width: 58.33%;}
.col-s-8 {width: 66.66%;}
.col-s-9 {width: 75%;}
.col-s-10 {width: 83.33%;}
.col-s-11 {width: 91.66%;}
.col-s-12 {width: 100%;}
}

@media only screen and (min-width: 800px) {
/* For desktop: */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
}



